html{
    background-color: rgb(54, 54, 54);
    text-align: center;
    color: white;
}
.white{
    color: white;
    text-align: center;
    font-size: 40px;
}
p{
    text-align: center;
    font-size: 30px;
}
.num{
    color: rgb(255, 0, 13);
}
.here{
    color: rgb(233, 229, 229);
}
.aohome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}